{% extends "layout/main.html.twig" %}
{% block title %}WoLManager - Index{% endblock %}
{% block content %}
    <h2>Devices</h2>
    <a class="pure-button button-green" href="/devices/add">Add</a>
    <form class="pure-form top-buffer">
        <fieldset>
            <input type="text" name="search" value="{{ search }}" placeholder="Search">
            <button type="submit" class="pure-button button-blue">Search</button>
        </fieldset>
    </form>
    <table class="pure-table" border="1">
        <thead>
        <th>Name</th>
        <th>IP</th>
        <th>Subnet Mask</th>
        <th>MAC</th>
        <th>Wake</th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody>
        {% for device in devices %}
        <tr>
            <td>{{device.getName}}</td>
            <td>{{device.getIP}}</td>
            <td>{{device.getSubnet}}</td>
            <td>{{device.getMAC}}</td>
            <td><a class="pure-button button-small button-blue" href="/wake/{{device.getID()}}">Wake</a></td>
            <td><a class="pure-button button-small button-yellow" href="/devices/edit/{{device.getID()}}">Edit</a></td>
            <td><a class="pure-button button-small button-red" href="/devices/delete/{{device.getID()}}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}